@{
    ViewData["Title"] = "Lista de Produtos";
}

<h2>Lista de Produtos</h2>

<div>
    <input type="text" id="searchTerm" placeholder="Buscar produtos..." onkeydown="handleSearch(event)" />
    <button onclick="searchProducts()">Buscar</button>
</div>
<br />

<div id="products-list" class="row">
    
</div>


<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Detalhes do Produto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img id="productImage" src="" alt="Product Image" class="img-fluid" />
                <h3 id="productName"></h3>
                <p id="productDescription"></p>
                <h4 id="productPrice"></h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <style>
        .card {
            height: 100%; 
            border: 1px solid #ddd; 
        }

        .card-img-top {
            max-height: 200px; 
            object-fit: cover; 
        }
    </style>

    <script>
        function loadProducts(searchTerm = '') {
            fetch(`/api/products?searchTerm=${searchTerm}`)
                .then(response => response.json())
                .then(data => {
                    const productList = document.getElementById('products-list');
                    productList.innerHTML = '';

                    data.forEach(product => {
                        const productDiv = document.createElement('div');
                        productDiv.classList.add('col-lg-4', 'col-md-6', 'mb-4'); 

                        const productCard = document.createElement('div');
                        productCard.classList.add('card');

                        const productImg = document.createElement('img');
                        productImg.src = product.imageUrl;
                        productImg.alt = product.name;
                        productImg.classList.add('card-img-top', 'img-thumbnail'); 

                        const cardBody = document.createElement('div');
                        cardBody.classList.add('card-body');

                        const productName = document.createElement('h5');
                        productName.classList.add('card-title');
                        productName.textContent = product.name;

                        const productDescription = document.createElement('p');
                        productDescription.classList.add('card-text');
                        productDescription.textContent = product.description;

                        const detailsButton = document.createElement('button');
                        detailsButton.textContent = 'Ver Detalhes';
                        detailsButton.classList.add('btn', 'btn-primary');
                        detailsButton.setAttribute('data-toggle', 'modal');
                        detailsButton.setAttribute('data-target', '#productModal');
                        detailsButton.onclick = () => showProductDetails(product);

                        cardBody.appendChild(productName);
                        cardBody.appendChild(productDescription);
                        cardBody.appendChild(detailsButton);

                        productCard.appendChild(productImg);
                        productCard.appendChild(cardBody);

                        productDiv.appendChild(productCard);

                        productList.appendChild(productDiv);
                    });
                });
        }

        function showProductDetails(product) {
            document.getElementById('productModalLabel').textContent = product.name;
            document.getElementById('productImage').src = product.imageUrl;
            document.getElementById('productDescription').textContent = product.description;
            document.getElementById('productPrice').textContent = `R$ ${product.price.toFixed(2)}`;
        }

        function searchProducts() {
            const searchTerm = document.getElementById('searchTerm').value;
            loadProducts(searchTerm);
        }

        function handleSearch(event) {
            if (event.key === 'Enter') {
                searchProducts();
            }
        }

        document.addEventListener('DOMContentLoaded', () => {
            loadProducts();
        });
    </script>
}
